<!DOCTYPE html>
<html lang="en">
<head>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="icon" href="{{ '/assets/images/favicon.ico' | relative_url }}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Open+Sans&display=swap" rel="stylesheet">
  </head>  
</head>
<body>

  <header>
    <h1><a href="/">Donfucious</a></h1>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    <p>This site is 100% satire. Donfucious is fictional.</p>
  </footer>

</body>
</html>
